

:root, html, html[data-theme='light'] {
    --theme-bg : 255,255,255;
        --color-001 : 222,009,047;
        --color-002 : 040,089,209;
        --color-003 : 051,051,051;
        --color-004 : 034,034,034;
        --color-005 : 034,034,034;
        --color-006 : 222,009,047;
        --color-007 : 040,089,209;
        --color-008 : 000,153,137;
        --color-009 : 098,091,212;
        --color-010 : 222,009,047;
        --color-011 : 040,089,209;
        --color-012 : 051,051,051;
        --color-013 : 102,102,102;
        --color-014 : 051,051,051;
        --color-015 : 051,051,051;
        --color-016 : 021,181,000;
        --color-017 : 170,170,170;
        --color-018 : 213,049,090;
        --color-019 : 063,120,201;
        --color-020 : 106,150,057;
        --color-021 : 178,103,029;
        --color-025 : 240,240,240;
        --color-026 : 207,207,207;
        --color-027 : 255,255,255;
        --color-028 : 255,255,255;
        --color-029 : 255,212,175;
        --color-030 : 220,025,020;
        --color-031 : 051,103,197;
        --color-032 : 000,153,137;
        --color-033 : 098,091,212;
        --color-034 : 222,009,047;
        --color-035 : 040,089,209;
        --color-036 : 051,051,051;
        --color-037 : 244,244,244;
        --color-038 : 255,255,255;
        --color-039 : 224,224,224;
        --color-040 : 125,125,125;
        --color-041 : 255,255,255;
        --color-042 : 255,255,255;
        --color-043 : 240,244,252;
        --color-044 : 254,241,240;
        --color-045 : 051,103,197;
        --color-046 : 220,025,020;
        --color-047 : 255,255,255;
        --color-048 : 255,255,255;
        --color-049 : 255,255,255;
        --color-050 : 132,132,132;
        --color-051 : 255,255,255;
        --color-052 : 255,255,255;
        --color-053 : 051,103,197;
        --color-054 : 220,025,020;
        --color-055 : 255,000,000;
        --color-056 : 000,000,255;
        --color-057 : 000,128,000;
        --color-058 : 255,192,203;
        --color-059 : 255,102,179;
        --color-060 : 178,103,029;
        --color-061 : 034,034,034;
        --color-062 : 034,034,034;
        --color-063 : 255,255,255;
        --color-064 : 084,080,069;
        --color-065 : 034,034,034;
        --color-066 : 247,249,252;
        --color-067 : 034,034,034;
        --color-069 : 103,103,103;
        --color-070 : 255,255,255;
        --color-071 : 034,034,034;
        --color-072 : 223,223,223;
        --color-073 : 223,223,223;
        --color-074 : 135,206,235;
        --color-075 : 255,206,235;
        --color-076 : 128,128,000;
        --color-077 : 189,183,107;
        --color-078 : 255,255,255;
        --color-079 : 255,255,255;
        --color-080 : 238,238,238;
        --color-081 : 145,145,145;
        --color-082 : 121,121,121;
        --color-083 : 123,123,123;
        --color-084 : 151,151,151;
        --color-085 : 047,047,047;
        --color-086 : 085,085,085;
        --color-087 : 244,244,244;
        --color-088 : 054,065,087;
        --color-089 : 106,132,185;
        --color-090 : 159,080,000;
        --color-091 : 081,185,215;
        --color-092 : 233,060,047;
        --color-093 : 074,160,032;
        --color-094 : 148,082,156;
        --color-095 : 034,034,034;
        --color-096 : 102,102,102;
        --color-097 : 255,255,255;
        --color-098 : 195,195,195;
        --color-099 : 085,176,203;
        --color-100 : 153,153,153;
        --color-101 : 247,134,051;
        --color-102 : 171,112,112;
        --color-103 : 255,000,000;
        --color-104 : 068,068,068;
        --color-105 : 102,102,102;
        --color-106 : 240,244,252;
        --color-107 : 254,241,240;
        --color-108 : 135,206,235;
        --color-109 : 237,237,237;
        --color-110 : 255,127,039;
        --color-111 : 255,255,255;
        --color-112 : 204,204,204;
        --color-113 : 255,255,255;
        --color-114 : 064,079,111;
        --color-115 : 034,034,034;
        --color-116 : 000,000,000;
        --color-117 : 074,103,157;
        --color-118 : 255,255,255;
        --color-119 : 105,133,183;
        --color-120 : 234,237,242;
        --color-121 : 087,087,087;
        --color-122 : 048,081,148;
        --color-123 : 183,203,238;
        --color-124 : 168,196,255;
        --color-125 : 107,150,239;
        --color-126 : 034,034,034;
        --color-127 : 222,009,047;
        --color-128 : 040,089,209;
        --color-129 : 051,051,051;
        --color-130 : 255,255,255;
        --color-131 : 247,087,053;
        --color-132 : 215,215,215;
        --color-133 : 222,009,047;
        --color-134 : 040,089,209;
        --color-135 : 255,132,132;
        --color-136 : 136,136,255;
        --color-137 : 206,230,255;
        --color-138 : 137,137,137;
        --color-139 : 255,255,255;
        --color-140 : 214,213,213;
        --color-141 : 000,000,000;
        --color-142 : 034,034,034;
        --color-143 : 089,110,127;
        --color-144 : 231,236,239;
        --color-145 : 062,062,062;
        --color-146 : 102,102,102;
        --color-147 : 034,034,034;
        --color-148 : 034,034,034;
        --color-149 : 034,034,034;
        --color-150 : 034,034,034;
        --color-151 : 034,034,034;
        --color-152 : 100,100,100;
        --color-153 : 143,143,143;
        --color-154 : 050,088,136;
        --color-155 : 069,083,096;
        --color-156 : 001,030,066;
        --color-157 : 031,031,031;
        --color-158 : 063,063,063;
        --color-159 : 138,138,138;
        --color-160 : 235,238,242;
        --color-161 : 220,221,223;
        --color-162 : 086,085,085;
        --color-163 : 001,001,001;
        --color-164 : 115,124,131;
        --color-165 : 049,087,134;
        --color-166 : 221,228,233;
        --color-167 : 132,143,156;
        --color-168 : 025,042,095;
        --color-169 : 252,110,000;
        --color-170 : 115,134,149;
        --color-171 : 098,091,212;
        --color-172 : 000,153,137;
        --color-173 : 040,089,209;
        --color-174 : 222,009,047;
        --color-175 : 133,119,104;
        --color-176 : 238,235,230;
        --color-178 : 223,223,223;
        --color-179 : 228,223,207;
        --color-180 : 251,239,206;
        --color-181 : 253,247,229;
        --color-182 : 228,228,228;
        --color-183 : 253,217,067;
        --color-184 : 253,185,019;
        --color-185 : 071,068,059;
        --color-186 : 232,232,232;
        --color-187 : 248,248,248;
        --color-188 : 204,204,204;
        --color-189 : 115,129,160;
        --color-190 : 084,080,069;
        --color-191 : 254,241,240;
        --color-192 : 240,244,252;
        --color-193 : 222,009,047;
        --color-194 : 040,089,209;
        --color-195 : 051,051,051;
        --color-196 : 220,025,020;
        --color-197 : 051,103,197;
        --color-198 : 000,153,137;
        --color-199 : 098,091,212;
        --color-200 : 034,034,034;
        --color-201 : 255,255,255;
        --color-202 : 102,102,102;
        --color-203 : 136,136,136;
        --color-204 : 054,065,087;
        --color-205 : 222,009,047;
        --color-206 : 054,096,172;
        --color-207 : 213,207,195;
        --color-208 : 153,153,153;
        --color-209 : 239,124,001;
        --color-210 : 221,221,221;
        --color-211 : 254,190,013;
        --color-212 : 051,098,168;
        --color-213 : 120,136,169;
        --color-214 : 151,138,126;
        --color-215 : 170,170,170;
        --color-216 : 223,223,223;
        --color-217 : 054,096,172;
        --color-218 : 220,220,220;
        --color-219 : 079,077,072;
        --color-220 : 255,220,000;
        --color-221 : 255,255,255;
        --color-222 : 133,119,104;
        --color-223 : 104,095,088;
        --color-224 : 250,250,250;
        --color-225 : 236,236,236;
        --color-226 : 252,243,255;
        --color-227 : 229,239,243;
        --color-228 : 229,229,229;
        --color-229 : 252,243,228;
        --color-230 : 238,238,238;
        --color-231 : 250,184,048;
        --color-232 : 048,198,213;
        --color-233 : 054,065,087;
        --color-234 : 230,239,244;
        --color-235 : 253,217,067;
        --color-236 : 220,025,020;
        --color-237 : 223,223,223;
        --color-238 : 057,071,082;
        --color-239 : 228,223,207;
        --color-240 : 189,179,179;
        --color-241 : 037,029,028;
        --color-242 : 084,080,069;
        --color-243 : 203,203,203;
        --color-244 : 231,231,231;
        --color-245 : 051,064,074;
        --color-246 : 224,220,221;
        --color-247 : 165,157,148;
        --color-248 : 085,085,085;
        --color-249 : 115,129,160;
        --color-250 : 218,212,202;
        --color-251 : 045,067,103;
        --color-252 : 093,061,138;
        --color-253 : 119,148,201;
        --color-254 : 144,111,193;
        --color-255 : 096,088,076;
        --color-256 : 102,099,089;
        --color-257 : 149,147,141;
        --color-258 : 068,068,068;
        --color-259 : 096,088,076;
        --color-260 : 109,106,097;
        --color-261 : 240,243,238;
        --color-262 : 247,243,248;
        --color-263 : 204,200,190;
        --color-264 : 255,209,049;
        --color-265 : 094,161,199;
        --color-266 : 138,153,186;
        --color-267 : 087,185,149;
        --color-268 : 132,183,104;
        --color-269 : 087,078,069;
        --color-270 : 255,204,000;
        --color-271 : 254,210,056;
        --color-272 : 096,087,078;
        --color-273 : 074,077,085;
        --color-274 : 048,054,069;
        --color-275 : 091,134,212;
        --color-276 : 068,105,171;
        --color-277 : 102,131,184;
        --color-278 : 250,250,250;
        --color-279 : 202,202,202;
        --color-280 : 250,165,129;
        --color-281 : 252,086,188;
        --color-282 : 104,214,225;
        --color-283 : 099,158,230;
        --color-284 : 071,160,040;
        --color-285 : 086,119,252;
        --color-286 : 241,136,060;
        --color-287 : 133,086,252;
        --color-288 : 251,110,082;
        --color-289 : 250,184,047;
        --color-290 : 239,239,239;
        --color-291 : 244,244,244;
        --color-292 : 255,215,107;
        --color-293 : 172,164,207;
        --color-294 : 156,184,205;
        --color-295 : 205,205,205;
        --color-296 : 252,175,023;
        --color-297 : 141,116,075;
        --color-298 : 081,119,188;
        --color-299 : 224,025,095;
        --color-300 : 030,101,218;
        --color-301 : 112,158,068;
        --color-302 : 102,102,102;
        --color-303 : 136,136,136;
        --color-304 : 224,025,095;
        --color-305 : 030,101,218;
        --color-306 : 230,230,230;
        --color-307 : 212,212,212;
        --color-308 : 240,240,240;
        --color-309 : 238,244,246;
        --color-310 : 247,247,247;
        --color-311 : 020,063,129;
        --color-312 : 225,225,225;
        --color-313 : 250,232,160;
        --color-314 : 240,240,240;
        --color-315 : 248,227,203;
        --color-316 : 148,148,148;
        --color-317 : 081,119,188;
        --color-318 : 095,095,095;
        --color-319 : 110,110,110;
        --color-320 : 252,243,228;
        --color-321 : 239,247,255;
        --color-322 : 096,134,255;
        --color-323 : 213,213,213;
        --color-324 : 066,116,207;
        --color-325 : 124,137,153;
        --color-326 : 111,122,137;
        --color-327 : 252,242,249;
        --color-328 : 252,248,240;
        --color-329 : 255,111,175;
        --color-330 : 133,176,255;
        --color-331 : 222,017,017;
        --color-332 : 255,076,076;
        --color-333 : 053,121,078;
        --color-334 : 066,112,031;
        --color-335 : 219,120,004;
        --color-336 : 234,234,234;
        --color-337 : 129,167,234;
        --color-400 : 255,220,000;
        --color-401 : 096,088,076;
        --color-402 : 091,134,212;
        --color-403 : 081,119,188;
        --color-404 : 252,252,252;
        --color-405 : 244,244,244;
        --color-406 : 248,248,248;
        --color-407 : 238,238,238;
        --color-408 : 221,221,221;
        --color-409 : 153,153,153;
        --color-410 : 255,255,255;
        --color-411 : 136,136,136;
        --color-412 : 102,102,102;
        --color-413 : 068,068,068;
        --color-414 : 034,034,034;
        --color-415 : 000,000,000;
        --color-416 : 222,009,047;
        --color-417 : 040,089,209;
        --color-418 : 000,153,137;
        --color-419 : 098,091,212;
        --color-420 : 149,156,171;
        --color-421 : 247,249,252;
        --color-422 : 139,064,249;
        --color-423 : 247,248,248;
        --color-424 : 076,076,076;
        --color-425 : 250,250,250;
        --color-426 : 058,058,058;
        --color-427 : 237,026,026;
        --color-428 : 219,120,004;
        --color-429 : 066,112,031;
        --color-430 : 255,255,255;
        --color-431 : 255,220,000;
        --color-432 : 059,063,071;
        --color-433 : 082,085,092;
        --color-434 : 040,040,040;
        --color-435 : 204,204,204;
        --color-436 : 255,220,000;
        --color-437 : 126,130,139;
        --color-438 : 255,251,235;
        --color-439 : 235,239,247;
        --color-440 : 255,247,248;
        --color-441 : 242,249,255;
        --color-442 : 245,245,245;
        --color-443 : 043,043,043;
        --color-444 : 200,200,200;
        --color-445 : 250,251,252;
        --color-446 : 239,244,253;
        --color-447 : 255,251,229;
        --color-448 : 179,179,179;
        --color-449 : 135,074,180;
        --color-450 : 244,246,251;
        --color-451 : 254,254,254;
        --color-452 : 253,242,178;
        --color-453 : 222,009,047;
        --color-454 : 077,120,255;
        --color-455 : 056,056,172;
        --color-456 : 154,011,037;
        --color-457 : 236,080,080;
        --color-458 : 005,051,162;
        --color-459 : 080,136,222;
        --color-460 : 255,214,219;
        --color-461 : 199,229,255;
        --color-462 : 222,225,231;
        --color-463 : 234,238,244;
        --color-464 : 234,121,136;
        --color-465 : 017,017,017;
        --color-466 : 041,089,208;
        --color-467 : 070,118,205;
        --color-468 : 130,062,240;
        --color-469 : 199,058,228;
        --color-470 : 038,074,192;
        --color-471 : 072,171,019;
        --color-472 : 206,055,047;
        --color-473 : 034,082,226;
        --color-474 : 173,014,209;
        --color-475 : 029,143,151;
        --color-476 : 039,136,211;
        --color-477 : 228,103,045;
        --color-478 : 019,155,093;
        --color-479 : 042,165,173;
        --color-480 : 238,250,251;
        --color-481 : 075,072,072;
        --color-482 : 255,252,000;
        --color-483 : 117,121,210;
        --color-484 : 216,216,216;
        --color-485 : 228,242,255;
        --color-486 : 255,233,236;
        --color-487 : 048,170,060;
        --color-488 : 226,070,139;
        --color-489 : 034,034,034;
        --color-490 : 221,221,221;
        --color-491 : 091,134,212;
        --color-492 : 231,077,069;
        --color-493 : 255,139,086;
        --color-494 : 123,131,142;
        --color-495 : 034,045,074;
        --color-496 : 000,000,000;
        --color-497 : 068,244,255;
        --color-498 : 252,252,252;
        --color-499 : 248,248,248;
        --color-500 : 255,255,255;
        --color-501 : 240,240,240;
        --color-502 : 254,239,001;
        --color-503 : 000,000,000;
        --color-504 : 255,255,255;
        --color-505 : 091,134,212;
        --color-506 : 154,011,037;
        --color-507 : 236,080,080;
        --color-508 : 005,051,162;
        --color-509 : 080,136,222;
        --color-510 : 255,107,107;
        --color-511 : 023,190,203;
        --color-512 : 082,085,092;
        --color-513 : 255,230,004;
        --color-514 : 250,196,116;
        --color-515 : 096,088,076;
        --color-516 : 162,219,230;
        --color-517 : 144,111,193;
        --color-518 : 255,187,195;
        --color-519 : 156,209,255;
}

html[data-theme='dark'] {
    --theme-bg : 020,020,020;
        --color-001 : 217,059,059;
        --color-002 : 046,128,210;
        --color-003 : 192,192,192;
        --color-004 : 224,224,224;
        --color-005 : 252,252,252;
        --color-006 : 222,009,047;
        --color-007 : 040,089,209;
        --color-008 : 000,185,166;
        --color-009 : 151,133,255;
        --color-010 : 217,059,059;
        --color-011 : 046,128,210;
        --color-012 : 192,192,192;
        --color-013 : 153,153,153;
        --color-014 : 192,192,192;
        --color-015 : 192,192,192;
        --color-016 : 000,185,166;
        --color-017 : 102,102,102;
        --color-018 : 217,059,059;
        --color-019 : 046,128,210;
        --color-020 : 000,185,166;
        --color-021 : 151,133,255;
        --color-025 : 048,048,048;
        --color-026 : 085,085,085;
        --color-027 : 048,048,048;
        --color-028 : 020,020,020;
        --color-029 : 047,031,017;
        --color-030 : 255,102,102;
        --color-031 : 040,107,174;
        --color-032 : 004,127,115;
        --color-033 : 082,077,175;
        --color-034 : 177,052,053;
        --color-035 : 040,107,174;
        --color-036 : 192,192,192;
        --color-037 : 025,030,036;
        --color-038 : 020,020,020;
        --color-039 : 068,068,068;
        --color-040 : 102,102,102;
        --color-041 : 020,020,020;
        --color-042 : 020,020,020;
        --color-043 : 023,031,038;
        --color-044 : 033,026,029;
        --color-045 : 025,044,062;
        --color-046 : 060,030,032;
        --color-047 : 020,020,020;
        --color-048 : 255,255,255;
        --color-049 : 034,034,034;
        --color-050 : 119,119,119;
        --color-051 : 020,020,020;
        --color-052 : 020,020,020;
        --color-053 : 040,107,174;
        --color-054 : 177,052,053;
        --color-055 : 255,000,000;
        --color-056 : 000,000,255;
        --color-057 : 000,128,000;
        --color-058 : 255,192,203;
        --color-059 : 255,102,179;
        --color-060 : 178,103,029;
        --color-061 : 224,224,224;
        --color-062 : 034,034,034;
        --color-063 : 020,020,020;
        --color-064 : 241,231,217;
        --color-065 : 224,224,224;
        --color-066 : 025,030,036;
        --color-067 : 224,224,224;
        --color-069 : 153,153,153;
        --color-070 : 020,020,020;
        --color-071 : 224,224,224;
        --color-072 : 051,051,051;
        --color-073 : 048,048,048;
        --color-074 : 135,206,235;
        --color-075 : 255,206,235;
        --color-076 : 128,128,000;
        --color-077 : 189,183,107;
        --color-078 : 051,051,051;
        --color-079 : 020,020,020;
        --color-080 : 051,051,051;
        --color-081 : 102,102,102;
        --color-082 : 119,119,119;
        --color-083 : 136,136,136;
        --color-084 : 102,102,102;
        --color-085 : 248,248,248;
        --color-086 : 204,204,204;
        --color-087 : 031,031,031;
        --color-088 : 221,221,221;
        --color-089 : 040,107,174;
        --color-090 : 159,080,000;
        --color-091 : 040,107,174;
        --color-092 : 255,138,138;
        --color-093 : 079,211,043;
        --color-094 : 082,077,175;
        --color-095 : 224,224,224;
        --color-096 : 153,153,153;
        --color-097 : 034,034,034;
        --color-098 : 085,085,085;
        --color-099 : 004,127,115;
        --color-100 : 153,153,153;
        --color-101 : 247,134,051;
        --color-102 : 255,129,157;
        --color-103 : 255,129,157;
        --color-104 : 172,172,172;
        --color-105 : 153,153,153;
        --color-106 : 023,031,038;
        --color-107 : 033,026,029;
        --color-108 : 040,107,174;
        --color-109 : 051,051,051;
        --color-110 : 247,134,051;
        --color-111 : 020,020,020;
        --color-112 : 085,085,085;
        --color-113 : 020,020,020;
        --color-114 : 195,222,246;
        --color-115 : 224,224,224;
        --color-116 : 255,255,255;
        --color-117 : 195,222,246;
        --color-118 : 020,020,020;
        --color-119 : 195,222,246;
        --color-120 : 040,107,174;
        --color-121 : 204,204,204;
        --color-122 : 195,222,246;
        --color-123 : 195,222,246;
        --color-124 : 195,222,246;
        --color-125 : 195,222,246;
        --color-126 : 224,224,224;
        --color-127 : 255,111,175;
        --color-128 : 138,176,255;
        --color-129 : 192,192,192;
        --color-130 : 020,020,020;
        --color-131 : 247,087,053;
        --color-132 : 068,068,068;
        --color-133 : 177,052,053;
        --color-134 : 040,107,174;
        --color-135 : 217,059,059;
        --color-136 : 046,128,210;
        --color-137 : 206,230,255;
        --color-138 : 119,119,119;
        --color-139 : 020,020,020;
        --color-140 : 224,224,224;
        --color-141 : 000,000,000;
        --color-142 : 224,224,224;
        --color-143 : 255,255,255;
        --color-144 : 113,117,122;
        --color-145 : 238,238,238;
        --color-146 : 153,153,153;
        --color-147 : 224,224,224;
        --color-148 : 224,224,224;
        --color-149 : 224,224,224;
        --color-150 : 224,224,224;
        --color-151 : 224,224,224;
        --color-152 : 153,153,153;
        --color-153 : 119,119,119;
        --color-154 : 195,222,246;
        --color-155 : 195,222,246;
        --color-156 : 001,030,066;
        --color-157 : 224,224,224;
        --color-158 : 238,238,238;
        --color-159 : 119,119,119;
        --color-160 : 034,034,034;
        --color-161 : 068,068,068;
        --color-162 : 204,204,204;
        --color-163 : 252,252,252;
        --color-164 : 136,136,196;
        --color-165 : 040,107,174;
        --color-166 : 040,107,174;
        --color-167 : 195,222,246;
        --color-168 : 195,222,246;
        --color-169 : 247,134,051;
        --color-170 : 046,128,210;
        --color-171 : 082,077,175;
        --color-172 : 004,127,115;
        --color-173 : 040,107,174;
        --color-174 : 177,052,053;
        --color-175 : 133,119,104;
        --color-176 : 050,045,038;
        --color-178 : 068,068,068;
        --color-179 : 228,223,207;
        --color-180 : 251,239,206;
        --color-181 : 253,247,229;
        --color-182 : 051,051,051;
        --color-183 : 246,249,095;
        --color-184 : 254,211,056;
        --color-185 : 172,172,172;
        --color-186 : 068,068,068;
        --color-187 : 034,034,034;
        --color-188 : 204,204,204;
        --color-189 : 040,107,174;
        --color-190 : 084,080,069;
        --color-191 : 033,026,029;
        --color-192 : 023,031,038;
        --color-193 : 217,059,059;
        --color-194 : 046,128,210;
        --color-195 : 238,238,238;
        --color-196 : 217,059,059;
        --color-197 : 046,128,210;
        --color-198 : 000,185,166;
        --color-199 : 151,133,255;
        --color-200 : 192,192,192;
        --color-201 : 252,252,252;
        --color-202 : 153,153,153;
        --color-203 : 130,130,130;
        --color-204 : 046,128,210;
        --color-205 : 217,059,059;
        --color-206 : 046,128,210;
        --color-207 : 213,207,195;
        --color-208 : 102,102,102;
        --color-209 : 247,134,051;
        --color-210 : 068,068,068;
        --color-211 : 254,211,056;
        --color-212 : 046,128,210;
        --color-213 : 046,128,210;
        --color-214 : 151,138,126;
        --color-215 : 068,068,068;
        --color-216 : 068,068,068;
        --color-217 : 163,210,255;
        --color-218 : 119,119,119;
        --color-219 : 172,172,172;
        --color-220 : 145,121,037;
        --color-221 : 030,031,035;
        --color-222 : 133,119,104;
        --color-223 : 104,095,088;
        --color-224 : 022,025,028;
        --color-225 : 051,051,051;
        --color-226 : 051,025,025;
        --color-227 : 051,025,025;
        --color-228 : 056,056,056;
        --color-229 : 059,047,000;
        --color-230 : 051,051,051;
        --color-231 : 250,184,048;
        --color-232 : 048,198,213;
        --color-233 : 054,065,087;
        --color-234 : 024,049,056;
        --color-235 : 193,188,072;
        --color-236 : 177,052,053;
        --color-237 : 068,068,068;
        --color-238 : 195,222,246;
        --color-239 : 228,223,207;
        --color-240 : 189,179,179;
        --color-241 : 224,224,224;
        --color-242 : 241,231,217;
        --color-243 : 203,203,203;
        --color-244 : 051,051,051;
        --color-245 : 195,222,246;
        --color-246 : 068,068,068;
        --color-247 : 165,157,148;
        --color-248 : 204,204,204;
        --color-249 : 046,128,210;
        --color-250 : 218,212,202;
        --color-251 : 040,107,174;
        --color-252 : 128,110,255;
        --color-253 : 040,107,174;
        --color-254 : 220,194,247;
        --color-255 : 241,231,217;
        --color-256 : 241,231,217;
        --color-257 : 102,102,102;
        --color-258 : 172,172,172;
        --color-259 : 241,231,217;
        --color-260 : 241,231,217;
        --color-261 : 025,044,062;
        --color-262 : 247,243,248;
        --color-263 : 204,200,190;
        --color-264 : 254,211,056;
        --color-265 : 094,161,199;
        --color-266 : 138,153,186;
        --color-267 : 004,127,115;
        --color-268 : 132,183,104;
        --color-269 : 241,231,217;
        --color-270 : 255,204,000 ;
        --color-271 : 254,211,056;
        --color-272 : 241,231,217;
        --color-273 : 074,077,085;
        --color-274 : 224,224,224;
        --color-275 : 128,171,218;
        --color-276 : 040,107,174;
        --color-277 : 040,107,174;
        --color-278 : 027,027,027;
        --color-279 : 085,085,085;
        --color-280 : 250,165,129;
        --color-281 : 252,086,188;
        --color-282 : 104,214,225;
        --color-283 : 099,156,230;
        --color-284 : 071,160,040;
        --color-285 : 086,119,252;
        --color-286 : 241,136,060;
        --color-287 : 133,086,252;
        --color-288 : 251,110,082;
        --color-289 : 250,184,047;
        --color-290 : 051,051,051;
        --color-291 : 021,021,021;
        --color-292 : 255,215,107;
        --color-293 : 082,077,175;
        --color-294 : 040,107,174;
        --color-295 : 085,085,085;
        --color-296 : 252,175,023;
        --color-297 : 141,116,075;
        --color-298 : 174,213,255;
        --color-299 : 224,025,095;
        --color-300 : 030,101,218;
        --color-301 : 004,127,115;
        --color-302 : 153,153,153;
        --color-303 : 130,130,130;
        --color-304 : 224,025,095;
        --color-305 : 030,101,218;
        --color-306 : 051,051,051;
        --color-307 : 068,068,068;
        --color-308 : 051,051,051;
        --color-309 : 025,030,036;
        --color-310 : 034,034,034;
        --color-311 : 195,222,246;
        --color-312 : 068,068,068;
        --color-313 : 039,036,000;
        --color-314 : 051,051,051;
        --color-315 : 047,025,000;
        --color-316 : 102,102,102;
        --color-317 : 195,222,246;
        --color-318 : 204,204,204;
        --color-319 : 153,153,153;
        --color-320 : 047,031,017;
        --color-321 : 018,034,048;
        --color-322 : 096,134,255;
        --color-323 : 068,068,068;
        --color-324 : 066,116,207;
        --color-325 : 124,137,153;
        --color-326 : 111,122,137;
        --color-327 : 060,030,032;
        --color-328 : 252,248,240;
        --color-329 : 255,111,175;
        --color-330 : 138,176,255;
        --color-331 : 222,017,017;
        --color-332 : 255,076,076;
        --color-333 : 071,169,107;
        --color-334 : 121,174,081;
        --color-335 : 219,120,004;
        --color-336 : 051,051,051;
        --color-337 : 129,167,234;
        --color-400 : 254,211,056;
        --color-401 : 241,231,217;
        --color-402 : 128,171,218;
        --color-403 : 149,191,237;
        --color-404 : 022,025,028;
        --color-405 : 031,031,031;
        --color-406 : 034,034,034;
        --color-407 : 051,051,051;
        --color-408 : 068,068,068;
        --color-409 : 102,102,102;
        --color-410 : 022,025,028;
        --color-411 : 119,119,119;
        --color-412 : 153,153,153;
        --color-413 : 172,172,172;
        --color-414 : 224,224,224;
        --color-415 : 255,255,255;
        --color-416 : 177,052,053;
        --color-417 : 040,107,174;
        --color-418 : 004,127,115;
        --color-419 : 082,077,175;
        --color-420 : 149,156,171;
        --color-421 : 025,030,036;
        --color-422 : 190,150,251;
        --color-423 : 034,034,034;
        --color-424 : 172,172,172;
        --color-425 : 027,027,027;
        --color-426 : 172,172,172;
        --color-427 : 255,045,045;
        --color-428 : 230,126,004;
        --color-429 : 079,211,043;
        --color-430 : 136,136,136;
        --color-431 : 254,211,056;
        --color-432 : 040,042,045;
        --color-433 : 040,042,045;
        --color-434 : 224,224,224;
        --color-435 : 085,085,085;
        --color-436 : 254,211,056;
        --color-437 : 149,156,171;
        --color-438 : 036,033,000;
        --color-439 : 025,030,036;
        --color-440 : 033,026,029;
        --color-441 : 023,031,038;
        --color-442 : 021,021,021;
        --color-443 : 224,224,224;
        --color-444 : 085,085,085;
        --color-445 : 022,025,028;
        --color-446 : 025,030,036;
        --color-447 : 126,124,116;
        --color-448 : 102,102,102;
        --color-449 : 151,133,255;
        --color-450 : 025,030,036;
        --color-451 : 022,025,028;
        --color-452 : 254,211,056;
        --color-453 : 255,076,076;
        --color-454 : 077,120,255;
        --color-455 : 046,128,210;
        --color-456 : 174,042,042;
        --color-457 : 225,084,084;
        --color-458 : 035,106,176;
        --color-459 : 075,145,215;
        --color-460 : 060,030,032;
        --color-461 : 025,044,062;
        --color-462 : 051,051,051;
        --color-463 : 234,238,244;
        --color-464 : 234,121,136;
        --color-465 : 252,252,252;
        --color-466 : 041,089,208;
        --color-467 : 070,118,205;
        --color-468 : 130,062,240;
        --color-469 : 199,058,228;
        --color-470 : 038,074,192;
        --color-471 : 072,171,019;
        --color-472 : 206,055,047;
        --color-473 : 034,082,226;
        --color-474 : 173,014,209;
        --color-475 : 029,143,151;
        --color-476 : 039,136,211;
        --color-477 : 228,103,045;
        --color-478 : 019,155,093;
        --color-479 : 053,204,214;
        --color-480 : 001,039,042;
        --color-481 : 182,182,182;
        --color-482 : 255,252,000;
        --color-483 : 117,121,210;
        --color-484 : 051,051,051;
        --color-485 : 023,031,038;
        --color-486 : 033,026,029;
        --color-487 : 048,170,060;
        --color-488 : 226,070,139;
        --color-489 : 116,120,126;
        --color-490 : 068,068,068;
        --color-491 : 195,222,246;
        --color-492 : 231,077,069;
        --color-493 : 255,139,086;
        --color-494 : 102,109,119;
        --color-495 : 034,045,074;
        --color-496 : 000,000,000;
        --color-497 : 068,244,255;
        --color-498 : 025,025,025;
        --color-499 : 034,034,034;
        --color-500 : 252,252,252;
        --color-501 : 051,051,051;
        --color-502 : 061,057,000;
        --color-503 : 255,255,255;
        --color-504 : 000,000,000;
        --color-505 : 075,118,164;
        --color-506 : 125,017,017;
        --color-507 : 209,068,068;
        --color-508 : 020,076,131;
        --color-509 : 067,132,196;
        --color-510 : 255,107,107;
        --color-511 : 023,190,203;
        --color-512 : 082,085,092;
        --color-513 : 068,054,011;
        --color-514 : 250,196,116;
        --color-515 : 049,046,044;
        --color-516 : 162,219,230;
        --color-517 : 144,111,193;
        --color-518 : 090,020,028;
        --color-519 : 020,057,093;
}
