<select style="width:100%">
    <option class="all" selected="">option</option>
    <option id="">option</option>
    <option id="">option</option>
    <option id="">option</option>
</select>

<select class="selectTy2">
    <option selected="">전체</option>
    <option>KOSPI</option>
    <option>KOSDAQ</option>
    <option>업종/섹터</option>
    <option>스마일/테마</option>
</select>

<div class="dataBoxSelect">
    <div class="selectBox">
        <select class="selectTy2">
            <option selected="">전체</option>
            <option>글로벌</option>
            <option>아시아</option>
            <option>북미</option>
            <option>남미</option>
            <option>유럽</option>
        </select>
        <select class="selectTy2">
            <option selected="">배율 전체</option>
            <option>1X</option>
            <option>2X</option>
            <option>-1X</option>
            <option>-2X</option>
        </select>
    </div>
</div>

<div class="formBox searchTy">
    <select class="searchTy">
        <option>Option</option>
    </select>
    <div class="fm searchTy">
        <label for="fm-srchKeyword" class="blind">Input Text</label>
        <input id="fm-srchKeyword" type="text" class="" placeholder="종목명 검색" value="" style="width:100%;">
        <button type="button" class="searchBtn"><span class="blind">검색</span></button>
    </div>
</div>
