<!-- Input Component Publishing Template (AS-IS 1:1) -->

<!-- 1. Inactive (Default / Price) -->
<div class="fm">
    <label for="f-inp-1" class="blind">Inactive</label>
    <input id="f-inp-1" type="text" class="" placeholder="placeholder" value="" style="width:100%;">
    <button type="button" class="clearBtn"><span class="blind">삭제</span></button>
</div>

<div class="fm tR">
    <label for="f-inp-1-price" class="blind">Inactive</label>
    <input id="f-inp-1-price" type="text" class="" placeholder="placeholder" value="" style="width:100%;">
    <button type="button" class="clearBtn"><span class="blind">삭제</span></button>
    <span class="price">원</span>
</div>

<!-- 2. Focused -->
<div class="fm">
    <label for="f-inp-2" class="blind">Focused</label>
    <input id="f-inp-2" type="text" class="focus" placeholder="placeholder" value="" style="width:100%;">
    <button type="button" class="clearBtn"><span class="blind">삭제</span></button>
</div>

<div class="fm tR">
    <label for="f-inp-2-price" class="blind">Focused</label>
    <input id="f-inp-2-price" type="text" class="focus" placeholder="placeholder" value="" style="width:100%;">
    <button type="button" class="clearBtn"><span class="blind">삭제</span></button>
    <span class="price">원</span>
</div>

<!-- 3. Filled (Impos / Error) -->
<div class="fm">
    <label for="f-inp-3" class="blind">Filled</label>
    <input id="f-inp-3" type="text" class="impos" placeholder="placeholder" value="" style="width:100%;">
    <button type="button" class="clearBtn"><span class="blind">삭제</span></button>
</div>

<div class="fm tR">
    <label for="f-inp-3-price" class="blind">Filled</label>
    <input id="f-inp-3-price" type="text" class="impos" placeholder="placeholder" value="" style="width:100%;">
    <button type="button" class="clearBtn"><span class="blind">삭제</span></button>
    <span class="price">원</span>
</div>

<!-- 4. Activated -->
<div class="fm">
    <label for="f-inp-4" class="blind">Activated</label>
    <input id="f-inp-4" type="text" class="" placeholder="placeholder" value="Activated" style="width:100%;">
    <button type="button" class="clearBtn active"><span class="blind">삭제</span></button>
</div>

<div class="fm tR">
    <label for="f-inp-4-price" class="blind">Activated</label>
    <input id="f-inp-4-price" type="text" class="" placeholder="placeholder" value="20,000" style="width:100%;">
    <button type="button" class="clearBtn active"><span class="blind">삭제</span></button>
    <span class="price">원</span>
</div>

<!-- 5. Disabled -->
<div class="fm">
    <label for="f-inp-5" class="blind">Disabled</label>
    <input id="f-inp-5" type="text" class="" placeholder="placeholder" value="" style="width:100%;" disabled="">
    <button type="button" class="clearBtn"><span class="blind">삭제</span></button>
</div>

<!-- 6. PassWord -->
<div class="fm">
    <label for="f-inp-pwd" class="blind">PassWord</label>
    <input id="f-inp-pwd" type="password" class="" placeholder="비밀번호 입력" value="" style="width:100%;">
    <button type="button" class="clearBtn"><span class="blind">삭제</span></button>
</div>

<!-- 7. Search -->
<div class="fm searchTy">
    <label for="keyword" class="blind">종목</label>
    <input id="keyword" name="keyword" type="text" class="text" value="" placeholder="제목을 입력해주세요.">
    <button type="button" class="searchBtn"><span class="blind">검색</span></button>
</div>

<!-- 8. Input + Button -->
<div class="formBox gridTy1">
    <div class="fm item">
        <label for="f-inp-btn" class="blind">Inactive</label>
        <input id="f-inp-btn" type="text" class="" placeholder="placeholder" value="" style="width:100%;">
        <button type="button" class="clearBtn"><span class="blind">삭제</span></button>
    </div>
    <div class="item">
        <button class="btnTy2">텍스트</button>
    </div>
</div>

