<!-- Popup / BottomSheet Component Publishing Template (AS-IS 1:1) -->

<div class="bottomSheet active">
    <div class="cont">
        <div class="close"></div>

        <!-- 기본1: 타이틀 + 본문 + 2버튼 // -->
        <div class="inCont ty1 active">
            <h1 class="titTy1">타이틀 영역</h1>
            <div class="conBox">콘텐츠 영역</div>
            <div class="btnAreaTy2">
                <button class="btnTy2 sheetClose">취소</button>
                <button class="btnTy1 sheetClose">확인</button>
            </div>
        </div>
        <!-- // 기본1 -->

        <!-- 기본2: 타이틀 + 리스트(버튼 없음) // -->
        <div class="inCont ty2">
            <h1 class="titTy1">타이틀 영역</h1>
            <div class="conBox">
                <h2 class="titTy2">콘텐츠 타이틀 영역</h2>
                <ul class="listTy6">
                    <li>콘텐츠 영역입니다.</li>
                </ul>
            </div>
        </div>
        <!-- // 기본2 -->
        
        <!-- 스크롤 Type: 계좌 선택 리스트 // -->
        <div class="inCont ty3">
            <h1 class="titTy1">계좌 선택</h1>
            <div class="conBox">
                <ul class="sotingList">
                    <li class="active">종합위탁 김국민<br>012-345-678-01</li>
                    <li>종합위탁 김국민<br>012-345-678-01</li>
                    <li>종합위탁 김국민<br>012-345-678-01</li>
                    <li>종합위탁 김국민<br>012-345-678-01</li>
                </ul>
            </div>
        </div>
        <!-- // 스크롤 Type -->

        <!-- Caution Type: 1버튼 // -->
        <div class="inCont ty4 caution">
            <div class="conBox">Caution Type 콘텐츠 영역입니다.</div>
            <div class="btnArea">
                <button class="btnTy1 sheetClose">확인</button>
            </div>
        </div>
        <!-- // Caution Type -->

        <!-- Caution Type 2: 1버튼 // -->
        <div class="inCont ty5 cautionTy2">
            <div class="conBox">
                신고가 접수되었습니다.
            </div>
            <div class="btnArea">
                <button class="btnTy1 sheetClose">확인</button>
            </div>
        </div>
        <!-- // Caution Type 2 -->
    </div>
</div>

