@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.bottomSheet {
    position: fixed;
    left: 0;
    bottom: 0;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: -10;
    opacity: 0;
    transition: opacity 0.3s;

    .close {
        position: absolute;
        right: 1.25rem;
        top: 1.25rem;
        width: 1.875rem;
        height: 1.875rem;
        background: url("https://dtong.kbsec.com/mable/images/common/ico_btClose.png") no-repeat;
        background-size: 100%;
        z-index: 50;
        cursor: pointer;
        border: none;
        -webkit-tap-highlight-color: transparent;
    }

    .cont {
        position: absolute;
        left: 0;
        bottom: -100%;
        width: 100%;
        padding: 1.875rem 0 1.5rem;
        border-radius: 12px 12px 0 0;
        box-sizing: border-box;
        z-index: 100;
        background: rgb(var(--color-028));
        transition: all 0.3s;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: -0.75rem;
            left: 50%;
            width: 2.125rem;
            height: 0.25rem;
            border-radius: 2px;
            transform: translateX(-50%);
            background: rgba(255,255,255,0.5);
        }

        .btnArea {
            margin: 2.25rem 0 0;
        }

        .btnAreaTy2 {
            margin: 2.25rem 0 0;
        }
    }

    .inCont {
        display: none;
    }

    .inCont.active {
        display: block;
        max-height: 80vh;
        padding: 0 1.875rem;
        overflow: hidden;
    }

    .titTy1 {
        margin: 0 0 0.5rem;
        color: rgb(var(--color-004));
        font-size: 1.25rem;
        font-weight: 500;
    }

    .titTy2 {
        margin: 1.25rem 0 .75rem;
        color: rgb(var(--color-004));
        font-size: 1rem;
        font-weight: 500;
        &:first-child {
            margin: 0 0 .75rem;
        }
    }

    .conBox {
        padding: 1.5rem 0 0;
        color: rgb(var(--color-412));
        font-size: 1rem;
    }

    .conBox.maxH {
        max-height: 50vh;
        overflow-y: scroll;
    }

    .caution {
        .conBox {
            color: rgb(var(--color-004));
            font-size: 1.063rem;
        }
        padding-top: 2.5rem !important;
        color: rgb(var(--color-004));
        font-size: 1.3125rem;
        font-weight: 500;
        text-align: center;
        background: url("https://dtong.kbsec.com/mable/images/common/ico_caution.png") 50% 0.625rem no-repeat;
        background-size: 2.75rem;
    }

    .cautionTy2 {
        .conBox {
            color: rgb(var(--color-004));
            font-size: 1.063rem;
        }
        padding-top: 2.5rem !important;
        color: rgb(var(--color-004));
        font-size: 1.3125rem;
        font-weight: 500;
        text-align: center;
        background: url("https://dtong.kbsec.com/mable/images/common/ico_cautionTy2.png") 50% 0.625rem no-repeat;
        background-size: 2.75rem;
    }

    .sotingList {
        li {
            position: relative;
            display: block;
            padding: 1.125rem 0;
            color: rgb(var(--color-004));
            font-size: 1rem;
            border-bottom: 1px solid rgb(var(--color-406));
            background: none;
            cursor: pointer;
            span {
                color: rgb(var(--color-409));
            }
        }

        li.active {
            color: rgb(var(--color-403));
            font-weight: 500;
            background: url("https://dtong.kbsec.com/mable/images/common/ico_soting_check.png") right 50% no-repeat;
            background-size: 1.5rem;
        }

        overflow-y: scroll;
        max-height: 12.5rem;
    }

    &.active {
        display: block;
        opacity: 1;
        z-index: 10000;
        .cont {
            bottom: 0%;
        }
    }
}

.btnArea {
    overflow: hidden;
    margin: .938rem 0 0;
    text-align: center;
}

.btnAreaTy2 {
    display: flex;
    gap: .625rem;
    overflow: hidden;
    width: 100%;
    margin: 2.5rem 0 0;
}

.btnTy1 {
    display: block;
    width: 100%;
    height: 3.125rem;
    line-height: 140%;
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    color: rgb(var(--color-062));
    background-color: rgb(var(--color-400));
    border-radius: 4px;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.btnTy2 {
    display: block;
    width: 100%;
    height: 3.125rem;
    line-height: 140%;
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    color: rgb(var(--color-004));
    background-color: rgb(var(--color-028));
    border-radius: 4px;
    border: 1px solid rgb(var(--color-112));
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &:active, &.active {
        background-color: rgb(var(--color-499));
    }
}

