@use 'origin/common';

@use 'base/font';
@use 'base/layout';
@use 'base/icon';

@use 'offering/offering';


// @use 'variables' as *;
// @use 'mixins' as *;
// @use 'theme' as *;
// @use 'fonts' as *;

@include media("all and (max-width: 319px)") {
    body {
        font-size: 14px;
    }
    html {
        font-size: 14px;
    }
}
@include media("all and (min-width: 320px) and (max-width: 359px)") {
    body {
        font-size: 16px;
    }
    html {
        font-size: 16px;
    }
}
@include media("all and (min-width: 360px) and (max-width: 413px)") {
    body {
        font-size: 18px;
    }
    html {
        font-size: 18px;
    }
}
@include media("all and (min-width: 414px)") {
    body {
        font-size: 18px;
    }
    html {
        font-size: 18px;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
}

html {
    scroll-behavior: smooth;
    height: 100%;
    background-color: rgb(var(--theme-bg));
}

body {
    min-height: 100%;
    font-family: $font-kb-text;
    color: rgb(var(--color-004));
    font-weight: 300;
    line-height: 1.5;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

button, a, input, textarea, select {
    @include reset-click-effect;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

input, select, textarea {
    font-family: inherit;
    font-size: 1rem;
    outline: none;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}
