<!-- Select Component Publishing Template (AS-IS 1:1) -->

<!-- 1. Select Box (100% width) -->
<div>
    <select style="width:100%">
        <option class="all" selected="">option</option>
        <option id="">option</option>
        <option id="">option</option>
        <option id="">option</option>
    </select>
</div>

<!-- 2. Select Ty2 (옵션 선택에 따라 가변) -->
<div>
    <select class="selectTy2">
        <option selected="">전체</option>
        <option>KOSPI</option>
        <option>KOSDAQ</option>
        <option>업종/섹터</option>
        <option>스마일/테마</option>
    </select>
</div>

<!-- 3. dataBoxSelect (복수 인라인 셀렉트) -->
<div class="dataBoxSelect">
    <div class="selectBox">
        <select class="selectTy2">
            <option selected="">전체</option>
            <option>글로벌</option>
            <option>아시아</option>
            <option>북미</option>
            <option>남미</option>
            <option>유럽</option>
        </select>
        <select class="selectTy2">
            <option selected="">배율 전체</option>
            <option>1X</option>
            <option>2X</option>
            <option>-1X</option>
            <option>-2X</option>
        </select>
    </div>
</div>

<!-- 4. Select Box + Input (검색 결합) -->
<div class="formBox searchTy">
    <select class="searchTy">
        <option>Option</option>
    </select>
    <div class="fm searchTy">
        <label for="fm-srchKeyword" class="blind">Input Text</label>
        <input id="fm-srchKeyword" type="text" class="" placeholder="종목명 검색" value="" style="width:100%;">
        <button type="button" class="searchBtn"><span class="blind">검색</span></button>
    </div>
</div>

