/* Error: Undefined variable.
 *    ,
 * 64 |         background: url('#{$imgUrl}/common/ic_flag.svg') no-repeat center center / contain;
 *    |                            ^^^^^^^
 *    '
 *   src\styles\pages\_missionStatus.scss 64:22  @use
 *   src\styles\globalsPub.scss 19:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 64 \2502          background: url('#{$imgUrl}/common/ic_flag.svg') no-repeat center center / contain;\a    \2502                             ^^^^^^^\a    \2575 \a   src\\styles\\pages\\_missionStatus.scss 64:22  @use\a   src\\styles\\globalsPub.scss 19:1             root stylesheet";
}
