@use '../abstracts' as *;

button {
	font-family: inherit;
	color: rgb(var(--color-004));
	font-weight: 300;
	line-height: 1.5;
	background: none;
	border: 0;
	border-radius: 0;
	cursor: pointer;
}

.btnTy2 {
	display: block;
	width: 100%;
	height: figmaRem(50);
	line-height: 140%;
	font-size: figmaRem(16);
	text-align: center;
	font-weight: 500;
	color: rgb(var(--color-004));
	background-color: rgb(var(--color-028));
	border-radius: 4px;
	border: 1px solid rgb(var(--color-112));
	box-sizing: border-box;
	&:active, &.active {
		background-color: rgb(var(--color-499));
	}
	&:disabled, &.disabled {
		color: rgb(var(--color-004));
		background-color: rgb(var(--color-028));
		border: 1px solid rgb(var(--color-112));
		cursor: not-allowed;
		opacity: 0.30;
	}
}

.clearBtn {
	position: absolute;
	top: 50%;
	right: figmaRem(12);
	margin-top: figmaRem(-12);
	width: figmaRem(24);
	height: figmaRem(24);
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0ZM12 10.5859L8.70703 7.29297L7.29297 8.70703L10.5859 12L7.29297 15.293L8.70703 16.707L12 13.4141L15.293 16.707L16.707 15.293L13.4141 12L16.707 8.70703L15.293 7.29297L12 10.5859Z' fill='rgba(153, 153, 153, 1)'/%3E%3C/svg%3E") no-repeat center center / figmaRem(16);
	opacity: 0;
	transition: opacity 0.2s;
	&.active {
		opacity: 1;
		display: block;
	}
}

html[data-theme='dark'] .clearBtn {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0ZM12 10.5859L8.70703 7.29297L7.29297 8.70703L10.5859 12L7.29297 15.293L8.70703 16.707L12 13.4141L15.293 16.707L16.707 15.293L13.4141 12L16.707 8.70703L15.293 7.29297L12 10.5859Z' fill='rgba(102, 102, 102, 1)'/%3E%3C/svg%3E") no-repeat center center / figmaRem(16);
}

.searchBtn {
	position: absolute;
	top: 0;
	right: 0;
	width: figmaRem(48);
	height: figmaRem(48);
	background: url('#{$imgURL}/images/common/select_search.png') right center no-repeat;
	background-size: 100%;
}
