@use '../abstracts' as *;

// ----------------------------------------------------------------------
// LinkMore — '> ' 이동 링크
// ----------------------------------------------------------------------
.linkMore {
	display: inline-flex;
	align-items: center;
	margin-top: figmaRem(14);
	color: $txt-tertiary;
	font-size: $fs-18;
	line-height: 1.4;

	&::after {
		content: '';
		width: figmaRem(10);
		height: figmaRem(10);
		margin-left: figmaRem(4);
		background: url('#{$imgURL}/images/common/ic_l_12_more_dd.svg') no-repeat center center / contain;
	}
}

html[data-theme='dark'] .linkMore::after {
	background-image: url('#{$imgURL}/images/common/ic_l_12_more_dd.svg');
}
