@use '../abstracts' as *;

select {
	font-family: inherit;
	color: rgb(var(--color-004));
	font-weight: 300;
	line-height: 1.5;
	vertical-align: middle;
	box-sizing: border-box;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: figmaRem(48);
	padding: 0 figmaRem(40) 0 figmaRem(16);
	font-size: figmaRem(17);
	border: 0;
	border-radius: 4px;
	white-space: nowrap;
	background: rgb(var(--color-499)) url('#{$imgURL}/images/common/select_arrow.png') calc(100% - figmaRem(10)) center no-repeat;
	background-size: figmaRem(20);

	option {
		width: 100%;
		height: figmaRem(48);
		padding: 0 figmaRem(40) 0 figmaRem(16);
		font-size: figmaRem(17);
		line-height: figmaRem(48);
		color: rgb(var(--color-004));
		background: rgb(var(--color-028));

		&:checked,
		&:hover {
			color: rgb(var(--color-403));
			background: rgb(var(--color-028));
		}
	}

	&.selectTy2 {
		width: auto;
		height: figmaRem(18);
		padding: 0 figmaRem(20) 0 0;
		background: transparent url('#{$imgURL}/images/common/select_arrow_ty2.png') 100% center no-repeat;
		background-size: figmaRem(12);
		font-size: figmaRem(13);
		border-radius: 0;

		option {
			font-size: figmaRem(13);
		}
	}
}
